#mapid {
  height: 400px;
  width: 600px;
}

nav .navbar-brand {
  font-size: 18px;
  font-weight: bold;
}

.country-dropdown img {
  width: 30px;
}

.country-dropdown .dropdown-menu {
  min-width: 0;
}
